body {
  background-color: #e1f5f4;
  font-family: "Dosis", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #e1f5f4;
  padding: 0 30px 0;
}

footer {
  border-top: 1px solid #e1f5f4;
  padding: 30px 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba (0, 0, 0, 0.06);
}

a {
  color: #08588a;
}

main {
  padding: 30px 0;
}

.main-section {
  background: #fffdf6;
  max-width: 600px;
  margin: 60px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.search-form {
  text-align: center;
}

.search-form-input {
  background-color: #e1f5f4;
  border: none;
  border-radius: 6px;
  width: 75%;
  font-size: 15px;
  padding: 15px 20px;
}

.search-form-button {
  background: #08588a;
  padding: 15px 30px;
  border-radius: 6px;
  border: 1px solid #08588a;
  color: #fffdf6;
  font-size: 16px;
  margin-left: 4px;
  transition: all 200ms ease-in-out;
}

.search-form-button:hover {
  cursor: pointer;
  color: #08588a;
  background: transparent;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 75px;
  font-weight: 600;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-unit {
  font-size: 24px;
  margin-top: 12px;
  font-weight: 500;
}

.weather-app-details {
  font-size: 16px;
  color: rgba (39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #6ac1b8;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  color: #6ac1b8;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperature-max {
  font-weight: bold;
  padding: 0 10px;
}

.weather-forecast-temperature-min {
  font-weight: bold;
  padding: 0 10px;
  opacity: 0.6;
}
